.news {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    background-color: white;
    font-family: "Nunito", sans-serif;
    .main_card {
        width: 400px;
        height: 221px;
        background: black;
    }
}